<div class="container" id="about">
    <div class="text-center">
        <h1 class="pb-5 main-brand">LET ME INTRODUCE MYSELF</h1>
    </div>
    <div class="fs-4">
        <p>
            I'm a quality software engineering consultant with experience implementing automated testing solutions
            across a wide range of industries, platforms and types of software. I have also dabbled in the world of
            DevOps and have a passion for learning new technologies.
        </p>
    </div>
</div>