<div class="container" id="about">
    <div class="text-center">
        <h1 class="pb-5 main-brand">LET ME INTRODUCE MYSELF</h1>
    </div>
    <div class="fs-4">
        <p>
            I'm a quality software engineering consultant with experience implementing automated testing solutions
            across a wide range of industries, platforms and types of software. I have also dabbled in the world of
            DevOps, striving to integrate quality into continuous integration and deployment pipelines.
        </p>

        <p>
            As a highly skilled software development engineer in test, I bring a wealth of experience and technical
            expertise to any team. With a passion for automation and a keen eye for detail, I am committed to ensuring
            the highest levels of software quality across a range of platforms and applications throughout the
            development lifecycle. I am a collaborative team player with strong communication and problem-solving
            skills, well-suited to agile and fast-paced environments. My ultimate goal is to deliver high-quality
            software products that exceed user expectations.
        </p>

        <p>
            I adopt a holistic approach to quality, placing it at the forefront of every stage of the development
            process and ensuring its integration into all aspects of an application, encompassing performance, security,
            accessibility, and functionality.
        </p>

        <p>
            If you are looking for a highly skilled and experienced software development engineer in test to join your
            team, I would love to hear from you. Please do not hesitate to get in touch to learn more about my
            qualifications and experience.
        </p>
    </div>
</div>