<div class="container text-center" id="quotes">
      <h1 class="text-uppercase pb-5 light-shade">Real Quotes From People That Know Me</h1>
      <div id="quoteCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item bg-bubble active" data-bs-interval="6000">
                  <div class="quote d-inline-flex h-100">
                      <figure class="align-self-center">
                          <blockquote class="blockquote">
                              <p class="fs-4">I AM SO GLAD THAT WE ARE FRIENDS!</p>
                          </blockquote>
                          <figcaption class="blockquote-footer fs-5">
                              A Friend
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="carousel-item bg-bubble" data-bs-interval="6000">
                  <div class="quote d-inline-flex h-100">
                      <figure class="align-self-center">
                          <blockquote class="blockquote">
                              <p class="fs-4">Your work be unparalleled!</p>
                          </blockquote>
                          <figcaption class="blockquote-footer fs-5">
                              Some Pirate
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="carousel-item bg-bubble" data-bs-interval="6000">
                  <div class="quote d-inline-flex h-100">
                      <figure class="align-self-center">
                          <blockquote class="blockquote">
                              <p class="fs-4">You're great at figuring stuff out.</p>
                          </blockquote>
                          <figcaption class="blockquote-footer fs-5">
                              Previous Employer
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="carousel-item bg-bubble" data-bs-interval="6000">
                  <div class="quote d-inline-flex h-100">
                      <figure class="align-self-center">
                          <blockquote class="blockquote">
                              <p class="fs-4">Thanks for the help!</p>
                          </blockquote>
                          <figcaption class="blockquote-footer fs-5">
                              A Coworker
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="carousel-item bg-bubble" data-bs-interval="6000">
                  <div class="quote d-inline-flex h-100">
                      <figure class="align-self-center">
                          <blockquote class="blockquote">
                              <p class="fs-4">Who raised you? They deserve a medal for a job well done.</p>
                          </blockquote>
                          <figcaption class="blockquote-footer fs-5">
                              My Parents
                          </figcaption>
                      </figure>
                  </div>
              </div>
              <div class="carousel-item bg-bubble" data-bs-interval="6000">
                  <div class="quote d-inline-flex h-100">
                      <figure class="align-self-center">
                          <blockquote class="blockquote">
                              <p class="fs-4">Nobody will believe these are real quotes.</p>
                          </blockquote>
                          <figcaption class="blockquote-footer fs-5">
                              My Wife
                          </figcaption>
                      </figure>
                  </div>
              </div>
          </div>
      </div>
</div>
