<div class="container text-center" id="quotes">
    <h1 class="text-uppercase pb-5 light-shade">Real quotes from people who may not know me</h1>
    <div id="quoteCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item bg-bubble active" data-bs-interval="6000">
                <div class="quote d-inline-flex h-100">
                    <figure class="align-self-center">
                        <blockquote class="blockquote">
                            <p class="fs-4">I wouldn't do that if I were you</p>
                        </blockquote>
                        <figcaption class="blockquote-footer fs-5">
                            Someone I usually do not listen to
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item bg-bubble" data-bs-interval="6000">
                <div class="quote d-inline-flex h-100">
                    <figure class="align-self-center">
                        <blockquote class="blockquote">
                            <p class="fs-4">Don't do drugs</p>
                        </blockquote>
                        <figcaption class="blockquote-footer fs-5">
                            My mom
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item bg-bubble" data-bs-interval="6000">
                <div class="quote d-inline-flex h-100">
                    <figure class="align-self-center">
                        <blockquote class="blockquote">
                            <p class="fs-4">Slow down, you move too fast</p>
                        </blockquote>
                        <figcaption class="blockquote-footer fs-5">
                            Simon & Garfunkel
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item bg-bubble" data-bs-interval="6000">
                <div class="quote d-inline-flex h-100">
                    <figure class="align-self-center">
                        <blockquote class="blockquote">
                            <p class="fs-4">Help!</p>
                        </blockquote>
                        <figcaption class="blockquote-footer fs-5">
                            The Beatles
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item bg-bubble" data-bs-interval="6000">
                <div class="quote d-inline-flex h-100">
                    <figure class="align-self-center">
                        <blockquote class="blockquote">
                            <p class="fs-4">You are the best thing ever happened to me</p>
                        </blockquote>
                        <figcaption class="blockquote-footer fs-5">
                            Ray Lamontagne
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item bg-bubble" data-bs-interval="6000">
                <div class="quote d-inline-flex h-100">
                    <figure class="align-self-center">
                        <blockquote class="blockquote">
                            <p class="fs-4">Did you ever know that you're my hero?</p>
                        </blockquote>
                        <figcaption class="blockquote-footer fs-5">
                            Bette Midler
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>