<div class="container text-center" id="work">
    <h1 class="main-brand pb-5">PLACES I'VE BEEN</h1>
    <div class="row work-history-row justify-content-center">
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/sdg.svg') }}" alt="SDG">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/reach.svg') }}" alt="Reach Media Network">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/sentera.svg') }}" alt="Sentera">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/cognizant.svg') }}" alt="Cognizant">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/aaa.svg') }}" alt="AAA SoCal">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/tapqa.svg') }}" alt="tapQA">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/ucare.svg') }}" alt="UCare">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static',  filename='images/experiences/taylor.svg') }}" alt="Taylor Digital">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static',  filename='images/experiences/senseonics.svg') }}" alt="Senseonics">
        </div>
        <div class="col">
            <img class="work-history-img rounded shadow"
                src="{{ url_for('static', filename='images/experiences/gracenote.svg') }}" alt="Gracenote">
        </div>

    </div>
</div>